* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Alumni Sans Pinstripe";
}



.caja {
    border-radius: 5px;

    padding: 20px;
    font-size: auto;
    text-align: justify;
}