*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: "Alumni Sans Pinstripe";
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    width: 90%;
    max-width: 1000px;
    margin: clamp(10px, 3vw, 20px) 0;
    min-height: 90vh;
    gap: clamp(20px, 3vw, 40px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto auto;
    /*grid-template-areas:
        "header     header      header"
        "article    article     aside"
        "widget     widget      widget"
        "footer     footer      footer"
    ; */

    .header {
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
        gap: clamp(15px, 3vw, 25px);
        
        h1 {
            font-size: clamp(30px, 5vw, 50px);
            font-weight: 900;
            font-family: Arial, Helvetica, sans-serif;
        }

        nav {
            display: flex;
            gap: clamp(15px, 3vw, 25px);
            
            
            a {
                text-decoration: none;
                color: blueviolet;
                font-weight: bold;
                font-size: clamp(28px, 3vw, 40px);
            }
        }

        @media screen and (max-width: 750px) {
            & {
                flex-direction: column;

                .logo {
                    font-size: 30px;
                }
            }
        }

    }
    
    .article {
        border-radius: 5px;
        grid-column: 1 / span 2;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: clamp(10px, 3vw, 20px);
        align-items: flex-start;
        
    
        h2 {
            font-size: clamp(30px, 3vw, 42px);
            font-weight: 900;
        }

        p {
            line-height: 30px;
            font-size: clamp(20px, 3vw, 28px);
            font-weight: 700;
        }
        
        a {
            display: inline-block;
            background-color: blueviolet;
            padding: 10px;
            color: white;
            font-size: 20px;
            text-decoration: none;
            border-radius: 3px;
            font-weight: 700;
            text-align: center;
        }

        @media screen and (max-width: 750px) {
            & {
                grid-column: 1 / -1;
                align-items: stretch;
            }
        }
    
    }
    .aside {
        border-radius: 5px;
        grid-column: 3 / -1;
        min-height: 150px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        @media screen and (max-width: 750px) {
            & {
                grid-column: 1 / -1;
            }
        }
    }    
    
    .widget {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    
        .widgeth {
            background-color: #bdbdbd;
            min-height: 75px;
            border-radius: 5px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            font-weight: bold;
        }

        @media screen and (max-width: 750px) {
            & {
                grid-template-columns: repeat(auto-fit, minmax(1fr));
            }
        }
    }
    
    
    
    .footer {

        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        h3 {
            font-size: 28px;
            color: #8d8d8d;
        }
    
        p {
            font-size: 14px;
            color: #8d8d8d;
        }
    }
    
    
}

