* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    background: url(https://img.freepik.com/foto-gratis/paisaje-natural-lavanda-digital_23-2150538394.jpg) no-repeat center fixed;
    background-size: 100%;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 41, 41, 0.541);

    

    main {


    width: 700px;
    margin: auto;
    padding: 15px;

    .imagen {
        width: 200px;
        height: 200px;
        margin: auto;
        
        img {
            width: 100%;
            height: 100%;
            margin: 0px auto;
            border: 0px solid transparent;
            border-radius: 100%;
        }
    }

    .caja-texto {
        width: auto;
        margin-top: 30px;
        
        h2 {
            width: max-content;
            font-size: 36px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin: auto;
            
        }
        
        p {
            width: max-content;
            margin: auto;
            margin-top: 10px;
            font-size: 18px;
        }

    }

    .caja-principal {
        width: 100%;
        margin-top: 30px;

        .caja {
            width: 100%;
            margin-top: 25px;

            a {
                width: 500px;
                height: 58.4px;
                text-decoration: none;
                color: black;
                font-size: 28px;
                text-align: center;
                display: block;
                margin: auto;
                padding: 10px;
                border-top: 2px solid black;
                border-bottom: 5px solid black;
                border-left: 2px solid black;
                border-right: 5px solid black;
                border-radius: 10px;
                transition: all linear 0.2s;

                &:hover {
                    background-color: rgb(157, 53, 255);
                    transform: scale(0.97);
                    border-top: 2px solid black;
                    border-bottom: 2px solid black;
                    border-left: 2px solid black;
                    border-right: 2px solid black;

                }

            }


        }
    }
    }
}