* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #101010;
    width: 100%;
    height: 100vh;
    margin: auto;
}

.cabeza {
    margin: auto;
    color: white;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}

.contenedor {
    background-color: #101010;
    width: 70vw;
    height: 70vh;
    text-align: center;
    padding: 40px;
    display: flexbox;
    align-content: center;
    
}

img {
    width: 100%;
    filter: grayscale(100%);
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 5px;
    &:hover {
        filter: grayscale(0%);
        border: 2px solid white;
    }
}

.caja {
    background-color: #101010;
    color: rgb(30, 30, 30);
    width: 20vw;
    padding: 10px;
    margin: auto;
    text-align: center;
    display: inline-block;

    &:hover {
        color: aliceblue;
       
    }

}

p {
    margin: 5px;
}
